.header {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f6fa !important; /* Green background color */
  border: #ffffff;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px; /* Adjust the height as needed */
  margin-right: 1rem;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 200px; /* Adjust the width as needed */
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 20px; /* Rounded corners */
  font-size: 0.9rem;
  transition: border-color 0.2s;
}

.search-input:focus {
  border-color: #4caf50; /* Green border on focus */
  outline: none;
}

.search-button {
  margin-left: 0.5rem;
  border: 1px solid #4caf50; /* Green border */
  color: #4caf50; /* Green text */
  background-color: #ffffff; /* White background */
  border-radius: 20px; /* Rounded corners */
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  transition: background-color 0.2s, color 0.2s;
}

.search-button:hover {
  background-color: #4caf50; /* Green background on hover */
  color: #ffffff; /* White text on hover */
}

.navbar-nav {
  display: flex;
  align-items: center;
  width: auto;
  justify-content: flex-end;
}

.nav-box {
  margin-right: 1rem;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove underline from link */
}

.james-button {
  border: 2.5px solid #218225; /* Green border */
  color: #4caf50; /* Green text */
  background-color: #ffffff; /* White background */
  border-radius: 20px; /* Rounded corners */
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  height: 40px; /* Match height of search button */
  width: 180px; /* Match width of search button */
  transition: background-color 0.2s, color 0.2s; /* Smooth transitions */
}

.james-button:hover {
  background-color: #4caf50; /* Green background on hover */
  color: #ffffff; /* White text on hover */
}

.nav-icon {
  height: 30px; /* Adjust the size of the image */
  width: 30px; /* Adjust the size of the image */
  border-radius: 50%; /* Make the image circular */
  margin-right: 0.5rem;
}

.premium-container {
  display: flex;
  align-items: center;
}

.switch {
  display: flex;
  align-items: center;
  background-color: #e9ecef; /* Background color when switch is off */
  border-radius: 20px; /* Rounded corners */
  padding: 5px;
  position: relative;
  cursor: pointer;
  width: 170px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  transition: background-color 0.3s; /* Transition for background color */
}

.switch-label {
  flex: 1;
  text-align: center;
  font-size: 1rem; /* Adjust text size */
  color: gray; /* Default color */
  transition: color 0.3s; /* Transition for text color */
}

.switch-toggle {
  position: absolute;
  top: 2px;
  width: 47%;
  height: 90%;
  background-color: rgba(76, 175, 79, 0.456); /* Transparent green */
  border-radius: 20px;
  transition: left 0.3s, background-color 0.3s;
}

.switch-toggle.free {
  left: 2px;
}

.switch-toggle.premium {
  left: calc(50% + 2px);
}

/* Text color when toggle is in 'free' position */
.switch-toggle.free ~ .switch-label:first-child {
  color: black; /* Black color for 'Free mode' */
}

/* Text color when toggle is in 'premium' position */
.switch-toggle.premium ~ .switch-label:last-child {
  color: black; /* Black color for 'Premium' */
}
