/* General styling for the Home component */

.card {
  margin-bottom: 1rem;
  /* Add shadow effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  /* Shadow effect on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.text-center {
  text-align: center;
}

.text-danger {
  color: red;
}

.ml-3 {
  margin-left: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.text-green {
  color: #2acc32;
}

/* Custom card styling for the special card */
.custom-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-card .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.days-span {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  background-color: #e0e0e0; /* Light gray background */
  border-radius: 1rem; /* Rounded edges */
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.card-image {
  width: 50px; /* Adjust the size of the image */
  height: auto;
}

.text-left,
.text-right {
  flex: 1;
}

/* Ensure the left column takes up half the screen */
.left-column {
  /* Ensure it takes up 50% of the width on medium and larger screens */
  flex: 0 0 50%;
  max-width: 50%;
}

/* Ensure that cards have consistent margin and padding */
.service-card {
  margin-bottom: 1rem;
}

/* Optional: Ensure columns align properly in the row */
.service-cards-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Adjust spacing between columns as needed */
}

/* Ensure the card width is consistent */
.service-card .card {
  width: 100%;
}

/* Ensure the columns have the same width */
.service-card-col {
  flex: 0 0 33.33%; /* Each column takes 1/3 of the row */
  max-width: 33.33%;
}

.service-card {
  height: 100%; /* Make sure cards take the full height of their column */
  display: flex;
  flex-direction: column;
}
