.sidebar {
  height: calc(100vh - 56px); /* Full height minus the height of the navbar */
  overflow-y: auto;
  position: fixed;
  top: 56px; /* Height of the navbar */
  width: 300px; /* Increase the width of the sidebar */
  background-color: #f8f9fa;
  padding-top: 1rem;
  padding-left: 0.5rem; /* Reduce padding */
  padding-right: 0.5rem; /* Reduce padding */
  font-family: "Jost", sans-serif;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  text-decoration: none;
  color: #000000;
  transition: background-color 0.2s;
  font-size: 0.9rem; /* Reduce font size if necessary */
  width: 100%; /* Ensure the nav-link takes full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.nav-link:hover {
  background-color: #e9ecef;
}

.boxed-link {
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added a stronger shadow */
  border: none; /* Remove any border */
}

.nav-icon {
  width: 1.5rem; /* Adjust size as needed */
  height: 1.5rem; /* Adjust size as needed */
  margin-right: 0.5rem;
}
