.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.main-content {
  display: flex;
  flex: 1;
  margin-top: 86px; /* Height of the navbar */
}

.sidebar {
  width: 210px;
  background-color: #f8f9fa;
  padding-top: 1rem;
}

.content {
  flex: 1;
  padding: 1rem;
  margin-left: 300px; /* Align content beside the sidebar */
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
  }

  .content {
    margin-left: 0;
  }
}
